<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the most flexible Fitness Tracking App, <%= @user.name %></h1>
    <p>
      You have successfully signed up to our Fitness Tracker,
      Your username is: <%= @user.name %>.<br>
    </p>
    <p>
      Confirm Your Account Here: <%= "http://trackfit-ojaskulkarni.c9users.io:8080/" %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>